.calendar .symbol {
  padding-left: 0;
  font-size: 300%;
  vertical-align: top;
}

.calendar .symbol span {
  display: inline-block;
  transform: translate(0, 2px);
}

.calendar .title {
	font-size: 300%;
  padding-left: 8em;
}

.calendar .time {
	font-size: 300%;
  text-align: right;
  vertical-align: top;
}
